.MuiTableCell-stickyHeader {
  background-color: #ffffff !important;
}

.flag {
  width: 25px !important;
  height: 20px !important;
  margin-right: 15px;
}

.table-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.table-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  white-space: nowrap;
}